<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <a class="btn btn-danger" href="/Public/Logout">Logout</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
