@model travelwhims.Models.TWdatabase.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AgencyLayout.cshtml";
}

<center>
    <div style="width:500px; margin-top:50px;">
        <h2 style="color:forestgreen; margin-bottom: 40px;">Change Password</h2>
        <form class="form-floating" action="/Travelagency/ChangePassword" method="post">


            <div class="form-floating">

                <input class="form-control" id="oldpass" type="password" name="oldpass" placeholder="Old Password">
                <label style="margin-left:20px;" for="oldpass">Old Password</label>


            </div>
            <br />
            <div class="form-floating">

                <input class="form-control" id="newpass" type="password" name="newpass" placeholder="New Password">
                <label style="margin-left:20px;" for="newpass">New Password</label>


            </div>
            <br />
            <div class="form-floating">

                <input class="form-control" id="confirmpass" type="password" name="confirmpass" placeholder="Confirm Password">
                <label style="margin-left:20px;" for="confirmpass">Confirm Password</label>


            </div>
            <br />
            <input class="btn btn-success" type="submit" value="Change ">
        </form>
    </div>
</center>