@model travelwhims.Models.Entities.AgencyModel
@{
    ViewBag.Title = "AgencyRegister";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<center>

    <div>

        <h2 style="color:forestgreen; margin-bottom: 40px;">Agency Register</h2>


        @if (TempData["msg"] != null)
        {
            <b> <span style="color:red; border:1px dashed red; padding:5px;"> @TempData["msg"]</span></b>
            <br />
        }
        <br />

        <form class="form-floating" action="/Public/AgencyRegister" style="width:500px;" method="post" enctype="multipart/form-data">
            <div class="form-floating">

                <input class="form-control" id="ta_name" type="text" name="ta_name" placeholder="Name">
                <label style="margin-left:20px;" for="ta_name">Agency Name</label><br />

            </div>
            <div class="form-floating">
                <input class="form-control" id="ta_username" type="text" name="ta_username" placeholder="Username">
                <label style="margin-left:20px;" for="ta_username">Username</label><br />

            </div>
            <div class="form-floating">
                <input class="form-control" id="u_password" type="password" name="u_password" placeholder="Password">
                <label style="margin-left:20px;" for="u_password">Password</label><br />

            </div>

            <div class="form-floating">
                <textarea class="form-control" placeholder="Bio" name="ta_bio" id="ta_bio" style="height: 100px"></textarea>
                <label style="margin-left:20px;" for="ta_bio">Bio</label><br />
            </div>

            <div class="form-floating">
                <input class="form-control" id="ta_phone" type="tel" name="ta_phone" placeholder="Phone Number">
                <label style="margin-left:20px;" for="ta_phone">Phone Number</label><br />

            </div>
            <div class="form-floating">
                <input class="form-control" id="ta_mail" type="email" name="ta_mail" placeholder="E-Mail">
                <label style="margin-left:20px;" for="ta_mail">E-Mail</label><br />

            </div>

            <div class="form-floating">
                <textarea class="form-control" placeholder="Office Address" name="ta_officeaddress" id="ta_officeaddress" style="height: 100px"></textarea>
                <label style="margin-left:20px;" for="ta_officeaddress">Office Address</label><br />
            </div>
            <div>
                <fieldset class="input-group">

                    <label class="input-group-text" for="tadisplaypicture">Profile Picture :</label>
                    <input class="form-control" style=" cursor:pointer; " type="file" name="tadisplaypicture" id="tadisplaypicture" />
                    <br />
                </fieldset>


            </div>
            <br />
            <input class="btn btn-success" type="submit" value="Register">
        </form>


    </div>

</center>



